**List Operations:**

> Create a list of integers containing numbers from 1 to 10.

In [2]:
List = [1,2,3,4,5,6,7,8,9, 10]
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

> Append the square of each number to the list.

In [3]:
for num in List[:]:
    List.append(num ** 2)

print("List : ", List)

List :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

> Find and print the sum of all elements in the list.

In [4]:
sumOfElements = sum(List)
print("Sum of all elements in the list:", sumOfElements)

Sum of all elements in the list: 440

**Tuple Operations:**

> Create a tuple containing the first five even numbers.

In [5]:
touple = (2,4,6,8,10)
print(touple)

(2, 4, 6, 8, 10)

> Find and print the product of all elements in the tuple.

In [6]:
product = 1
for num in touple:
  product *= num
print("Product of all elements in the tuple:", product)

Product of all elements in the tuple: 3840

**Set Operations:**

> Create two sets of odd numbers between 1 to 10.

In [8]:
set1 = {1, 3,5,7,9}
set2 = {1, 3,5,7,9}

> Find and print the union of the two sets.

In [10]:
union_set = set1.union(set2)
print("unionSet : ", union_set)

unionSet :  {1, 3, 5, 7, 9}

> Find and print the intersection of the two sets.

In [12]:
intersection_set  = set1.intersection(set2)
print("intersectionSet : ", intersection_set )

intersectionSet :  {1, 3, 5, 7, 9}

**Dictionary Operations:**

> Create a dictionary where keys are the first five lowercase alphabets and values are their respective ASCII values.

> Print the dictionary.

**Functional Programming:**

> Define a function square(x) that returns the square of x.

In [14]:
def square(x):
  return x ** 2

> Use the map function to apply the square function to each element in a list of integers from 1 to 10 and print the result.

In [16]:
result = map(square, List)
print("Squared list of numbers from 1 to 10:", list(result))

Squared list of numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]